# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# VS Code config
.vscode/

# CMake temporary files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# makefile
Makefile
